streamlit==1.38.0
bcrypt==4.2.0
cryptography==43.0.1
SQLAlchemy==2.0.35
pyodbc
python-dotenv
beautifulsoup4

torch  
torchvision 
ultralytics 

openai
langchain
langchain-community
azure-identity>=1.6.1
azure-mgmt-rdbms
mysql-connector-python
azure-mgmt-resource>=18.0.0
azure-mgmt-containerregistry>=3.0.0
azure-mgmt-web>=2.0.0